body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#general_nav_container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 2px;
    align-items: center;
}

#logo_container {
    padding: 0;
    margin: auto;
    margin-left: 320px;
}

#general_links_container {
    margin-right: 320px;
    display: flex;
    flex-flow: row;
    gap: 44px;
    position: relative;
}

.general_nav_items {
    cursor: pointer;
}

#circle {
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 1px;
}

#principal_nav {
    border-top: 1px solid #CCCCCC;
    width: 100%;
    height: 50px;
    background: #FAFAFA;
    padding: 0;
    margin: 0;
}

#principal_nav_container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 54px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.principal_nav_item {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

#hero_section {
    background-color: rgba(219, 208, 204, 0.8);
    height: 826px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero_section_image_container {
    width: 308px;
}

#hero_section_info {
    color: #323334;
    font-weight: normal;
    font-size: 22px;
}

#hero_section_title {
    color: #A86A3D;
    font-weight: bold;
    font-size: 48px;
    width: 500px;
}

#hero_section_btn {
    background: none;
    font-size: 12px;
    color: #323334;
    font-weight: bold;
    border: 2px solid #323334;
    box-shadow: none;
    height: fit-content;
    width: fit-content;
    padding: 18px 33px;
    border-radius: 8px;
}

#hero_section_info_container {
    display: flex;
    flex-flow: column;
}

#brand_carousel {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 73px;
    padding: 85px 0px;
}

#brand_carousel>img {
    width: 196px;
}



@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}